<div class="content" ng-controller="MapController">
   <div class="map-container" ng-click="getCoords();showDialog($event)">
        <map zoom="15" 
          disable-default-u-i="true"
          disable-double-click-zoom="true"
          draggable="false"
          keyboard-shortcuts="false"
          max-zoom="16"
          min-zoom="11"
          tilt="45"
          map-type-id="TERRAIN">
              <marker position="{{meeting.position}}" ng-repeat="meeting in meetings" ng-disabled="clickMarker"></marker>
              <info-window position="{{meeting.position}}" visible="true" ng-repeat="meeting in meetings">
                  <div class="info-content"> 
                     <div>meeting.location</div>
                     <div>meeting.title </div>
                     <div>meeting.description</div>      
                     <div><md-button class="md-raised join-button" ng-click="joinMeeting(meeting._id)">Учавствовать</md-button></div>
                  </div>
              </info-window>
        </map>
        <!--<div id="map_canvas" ng-click="$scope.getCoords();showDialog($event)"></div>-->
    </div>

    

</div><!-- end content -->